<?php $_items = $this->getUploadProduct(); ?>
<div class="page-title">
    <h1><?php echo Mage::helper('developproduct')->__('My Develop Upload Products') ?></h1>
</div>
<div class="develop-products-history">
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <?php if(count($_items)): ?>
        <ol class="list">
            <?php foreach ($_items as $_item): ?>
                <li class="list-item">
                    <a href="<?php echo $_item->getUrlProduct() ?>"><?php echo $_item->getNameProduct() ?></a><p><?php echo $_item->getIncrementId() ?></p><p><?php echo $_item->getCustomerId() ?></p><p><?php echo $this->formatDate($_item->getCreatedAt()) ?></p>
                </li>
            <?php endforeach; ?>
        </ol>
    <?php else: ?>
        <p><?php echo Mage::helper('developproduct')->__('You have not purchased any upload products yet.'); ?></p>
    <?php endif; ?>
</div>
