<div class="container_small">
    <div class="row">
        <div class="page-title text-center">
            <h1>Calendar</h1>
        </div>
        <div class="calendar-wrap">
            <div class="custom-calendar-wrap custom-calendar-full">
                <div class="custom-header clearfix">
                    <h3 class="custom-month-year">
                        <span id="custom-month" class="custom-month"></span>
                        <span id="custom-year" class="custom-year"></span>
                        <nav>
                            <span id="custom-prev" class="custom-prev"></span>
                            <span id="custom-next" class="custom-next"></span>
                            <span id="custom-current" class="custom-current" title="Got to current date"></span>
                        </nav>
                    </h3>
                </div>
                <div id="calendar" class="fc-calendar-container"></div>
            </div>

        </div>
        <div class="calendar-sidebar">
            <h2>Clases</h2>
            <ul class="outside-nav">
                 <?php
                $sortedResults = Mage::helper('training')->getListProductTrainingType();
                if(!empty($sortedResults)) {
                    foreach ($sortedResults as $nameSortedResultsItem => $sortedResultsItem) {
                        ?>
                        <li>
                            <span class="name-inside-nav"><?php echo $nameSortedResultsItem ?></span>
                            <ul class="inside-nav">
                                <?php
                                foreach ($sortedResultsItem as $product) {
                                    ?>
                                    <li>
                                        <a href="<?php echo $product->getProductUrl() ?>"> 22<?php echo $product->getName() ?> </a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </li>
                        <?php
                    }
                }
                ?>

            </ul>
        </div>
    </div>

    <div class="row">
        <?php echo $this->getChildHtml('brosolutions_simplecontact') ?>
    </div>

</div>

<script>


    var codropsEvents = {};
    <?php  $list_product = Mage::helper('training')->getListProductTraining()->addAttributeToSort('training_date', 'asc');
    foreach ($list_product as $product): ?>
    var variableDate =  "<?php echo date('m-d-Y',strtotime($product->getData('training_date'))) ?>";
    var variableContent =  '<div class="tooltip-custom" data-tooltip-content="#tooltip_content_<?php echo $product->getId() ?>"><?php echo $product->getName() ?><div class="tooltip_templates"><span id="tooltip_content_<?php echo $product->getId() ?>"><h3><?php echo $product->getName() ?></h3><p><?php echo $product->getShortDescription() ?></p><a href="<?php echo $product->getProductUrl() ?>" class="more">View class</a></span></div></div>';
    if (codropsEvents[variableDate]) {
        codropsEvents[variableDate] +=  variableContent;
    }else {
        codropsEvents[variableDate] = variableContent;
    }
    <?php endforeach; ?>


    jQuery(document).ready(function() {
        function start() {
            var cal = jQuery('#calendar').calendario({
                    onDayClick: function ($el, $contentEl, dateProperties) {

                        for (var key in dateProperties) {
                            console.log(key + ' = ' + dateProperties[key]);
                        }

                    },
                    caldata: codropsEvents,
                    weeks : [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ],
                    weekabbrs : [ 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat' ],
                    months : [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ],
                    monthabbrs : [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
                }),
                $month = jQuery('#custom-month').html(cal.getMonthName()),
                $year = jQuery('#custom-year').html(cal.getYear());

            jQuery('#custom-next').on('click', function () {
                cal.gotoNextMonth(updateMonthYear);
            });
            jQuery('#custom-prev').on('click', function () {
                cal.gotoPreviousMonth(updateMonthYear);
            });
            jQuery('#custom-current').on('click', function () {
                cal.gotoNow(updateMonthYear);
            });

            function updateMonthYear() {
                $month.html(cal.getMonthName());
                $year.html(cal.getYear());
            }
        };
        start();

        jQuery('body').on('mouseenter', '.tooltip-custom:not(.tooltipstered)', function(){
            jQuery(this)
                .tooltipster({
                    theme: ['tooltipster-noir', 'tooltipster-noir-customized']
                });
        });

        jQuery('body').on('click', '.name-inside-nav', function () {

            if(!jQuery(this).hasClass("open"))
            {
                jQuery('.name-inside-nav').removeClass("open");
                jQuery('.inside-nav').slideUp();
                jQuery(this).addClass("open");
                jQuery(this).siblings(".inside-nav").slideDown("fast");
            }else{
                jQuery(this).removeClass("open");
                jQuery(this).siblings(".inside-nav").slideUp("fast");
            }

        })
    })
</script>